.car{
    display: flex;
    flex-wrap: wrap;
    height:50%;
    margin: 0 auto;
    justify-content:space-evenly;
    .first{
        width:30%
    }
    .second{
        width:50%;
        height:20%;
        overflow: hidden;
        
    }

    .third{
        width:100vw;
        height:20vh;
        
    }
}

