.theme {
  width: 2rem;

  border: 1px solid black;
height:1.2rem;

  border-radius: 20px;




  .toggleTheme {
    background-color: #000;
    height: 100%;
    width: 1rem;
    border-radius: 50%;

    top: 0;


  }
  .PositionLeft{
    right: 0;
 
  }
}
